<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ExcelWorkSpace" value="./ExcelWorkSpace"/>
		<add key="ProtobufWorkSpace" value="./ProtobufWorkSpace"/>
		<add key="SerializedDataWorkSpace" value="./SerializedDataWorkSpace"/>
		<add key="ExcelToolDir" value="./ExcelTool"/>
		<add key="GameWorkSpace" value="./Assets/Resources/Config"/>
		<add key="GenerateCodeWorkSpace" value = "./Assets/Scripts/Configs/Generate"/>
		<add key="ConfigFilePath" value="./Assets/Scripts/Configs/ConfigPath.cs"/>
	</appSettings>
</configuration>