<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ExcelWorkSpace" value="./ExcelWorkSpace"/>
		<add key="ProtobufWorkSpace" value="./ProtobufWorkSpace"/>
		<add key="SerializedDataWorkSpace" value="bb"/>
		<add key="GameWorkSpace" value="cc"/>
	</appSettings>
</configuration>